#Content {
    flex: 0.9;
}

#Video
{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

@media  (max-width:500px) {
    #Video{

        height: 10px;
        
        width: 40px;
    }
}